<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Polyclinic Checkin</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="../scripts/form.js"></script>
</head>
<body>
Check in to polyclinic ABC
<button onclick="redirectToAuthMyInfo('pre-fill form', 'form')">Use MyInfo</button>
<form id="form">
  <label for="nric">NRIC</label>
  <input type="text" id="nric" name="nric"/>
  <label for="mobileno">Mobile Number</label>
  <input type="text" id="mobileno" name="mobileno"/>
</form>

<button onclick="submit()">Submit Form</button>
</body>
</html>